@charset "UTF-8"; 

html {
    font-family: 'Noto Sans', sans-serif;
    /* 글자간격 줄임 */
    letter-spacing: -0.07rem;
    font-size: 16px;
    color :#1d1d1f;
}


body {
    /*가로 스크롤을 없애준다.*/
    overflow-x: hidden;

}

a {
    text-decoration: none;
    color: #1d1d1f;
}

.container{
    color: rgb(100, 100, 100);
}

.local-nav-links{
    margin: 0 auto;
    max-width: 1000px;
    align-items: center; 

    /* local-nav의 height 값 */
    height: 100%; 
}

.local-nav-links-0{
    display: flex;
    flex-direction: column;
    
    /* align-content: space-around; */

    /* text-align: center; */
    align-items: center;
    max-width: 1000px;

    margin-top: 375px;
    height : 1500px;
}

.local-nav-links-0 h1{
    font-size: 80px;
    font-size: 80px;
    font-weight: 700;
    color : #1d1d1f;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    opacity: 0.3;

}

.local-nav-line{
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid #8a8a8a;
    width: 1000px;
}

.local-nav-item{
    text-align: center;
}


.local-nav-links-1{
    display: flex;
    align-items: center;
    max-width: 1000px;

    opacity: 0.5;
}

#id_title{
    margin-top:188px;
    font-size: 80px;
    font-weight: 700;
    color : #1d1d1f;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 500px;
}

.fadein-items{
    opacity: 1;
    -webkit-transition: opacity 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#id_img{
    margin-top: 188px;
}

#id_mainIMG{
    width: 500px;
    height: 500px;
}

#id_ytb{
    margin-top: 288px;
}


/* 제외 */
/* .local-nav-item:not(.local-nav-item:nth-child(1)){
    margin-left: 1em;
} */

/* .local-nav-item:nth-child(1) {
     최대 사용 가능한 우측 마진 설정. 
     margin-left: auto; 
} */

/* #local-nav-item-serch{
    height: 48px;
} */

#local-nav-input {
    margin-left: 5px;
    width: 139px;
    height: 22px;
    border: 1px solid #1d1d1f;
}

#local-nav-btn{
    /* display: inline-block;
    text-align: center; */
    cursor: pointer;

    margin-left: 5px;
    
    background-color: #0071e3;
    color: #fff;
    border-radius: 980px;
    line-height: 1.4;
    font-size: 12px;
    font-weight: 400;

    min-width: 23px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#local-nav-btn:hover {
    background: tomato; 
    color: white;
}

.local-tag-set{
    display: inline;
    float: left;
    line-height: 44px;
    max-width: 760px;
}

.local-tag-add{
    text-align: right;
    line-height: 44px;
}

.new-tag-btn{
    cursor: pointer;

    margin-left: 5px;
    
    background-color: #67c75a;
    color: #fff;
    border-radius: 980px;
    line-height: 1.4;
    font-size: 12px;
    font-weight: 400;

    min-width: 23px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
.new-tag-btn:hover {
    background: rgb(90, 90, 90); 
    color: white;
}
