@charset 'utf-8';

html{
    font-size: 16px;
    color: #1d1d1f;
}


body{
    /* 가로 스크롤 숨김 */
    overflow-x: hidden;
}

.container{
    color: rgb(100, 100, 100);

}

.global-nav{
    height: 44px;
    background-color: #1d1d1f;
}

.global-nav-links{
    display: flex;
    justify-content: space-between;

    height: 150%;
    align-items: center;
    margin: 0 0;
    /* max-width: 1800px; */
}

.local-nav{
    
}

.global-nav-item{
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    color: #f5f5f7;
    padding: 0 72px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 44px;

}
.local-nav-item{
    display: inline-block;
    font-size: 12px;
    color: #000000;
    padding: 0 164px;
    
    border: 2px solid ;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

