@charset "utf-8"; 
@import url(reset.css);
 
html {
    color: #1d1d1f;
    font-size: 16px;
    letter-spacing: -0.05rem;
    font-family: 'Noto Sans', sans-serif;
}
body {
    overflow-x: hidden; /* 가로 스크롤 제거*/
}
a {
    text-decoration: none;
    color: #1d1d1f;
}
.global-nav {
    height: 44px;
    background-color: #333;
}
.global-nav-link {
    display: flex; /* flex처리, 균일하게 배치 */
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.global-nav a {
    color: #f5f5f7;
}
.local-nav {
    height: 52px;
    border-bottom: 1px solid #d6d6d6;
}
.local-nav-link {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    line-height: 52px;
}
.lc-left {
    float: left;
    font-size: 1.5rem;
    font-weight: 600;
}
.lc-right {
    float: right;
}
.lc-right .lc-item {
    font-size: 0.8rem;
    padding-left: 30px;
}

